@import url("https://fonts.googleapis.com/css2?family=Whisper&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* font-family: 'Whisper', cursive; */
/* font-family: 'Nova Square', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#main {
  display: flex;
  flex-direction: column;
}
#back {
  height: 100vh;
  width: 100vw;
}
#back video {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  object-fit: cover;
}

#front {
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 5vh 10vh;
}

.icon {
  cursor: pointer;
  font-size: 8vh;
  font-family: Whisper;
  color: white;
  font-weight: 800;
}
.links {
  cursor: pointer;
  font-size: 8vh;
  font-family: Whisper;
  color: white;
  font-weight: 800;
}

.hero {
  color: white;
  font-family: Nova square;
  font-size: 18vh;
  letter-spacing: -30px;
  margin-left: 2vw;
}

#heroHeading {
  position: relative;
}

#heroHeading span {
  display: inline-block;
  transform: translateY(100%);
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    /* opacity: 0; */
  }

  100% {
    transform: translateY(0);
    /* opacity: 1; */
  }
}

#page1 {
  min-height: 100vh;
  width: 100vw;
  padding: 5vw;
  font-size: 5vh;
}

#heading {
  font-family: Montserrat;
  position: relative;
  transform: translateY(100%);
  opacity: 0;
}

#page1 span {
  font-family: Whisper;
}
#page1 hr {
  width: 90%;
  margin-top: 2vh;
}

#content {
  font-family: Montserrat;
  max-width: 85%;
  margin-top: 5vh;
  transform: translateY(100%);
}

#Drifters {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

#driftHeading {
  font-size: 4rem;
  font-family: Nova Square;
  font-weight: 500;
  transform: translateY(-150%);
  opacity: 0;
}

#driftSpan {
  font-family: Whisper;
  margin-top: 3vh;
  font-size: 5rem;
  transform: translateX(-200%);
  opacity: 0;
}

.wrapper {
  display: flex;
  margin-top: 5vh;
  margin-bottom: 10vh;
  gap: 2vw;
  /* background-color: pink; */
  /* opacity:0; */
}
.cards {
  height: 80vh;
  width: 30vw;
  background-color: aqua;
  position: relative;
  transform: translateX(-500%);
  opacity: 0;
}

.cards .backVid {
  height: 100%;
  width: 100%;
  position: absolute;
}

.backVid video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.cards .ForeImg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.ForeImg img {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}

.ForeImg img:hover {
  opacity: 0;
}

#page2 {
  max-height: 100vh;
  width: 100vw;
  display: flex;
}

.specs h1 {
  font-family: Nova Square;
  font-size: 5vh;
}

.specs {
  width: 55%;
  padding: 12vh;
  display: flex;
  flex-direction: column;
}

.specs hr {
  margin-top: 5vh;
  width: 80%;
}

.img {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.imgCard {
  width: 90%;
  height: 90%;
}

.imgCard img {
  border-radius: 20px;
  margin-top: 5vh;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.contentlist {
  list-style: none;
}

.contentlist h2 {
  font-size: 8vh;
  font-family: Whisper;
}

.contentlist h4 {
  font-size: 3vh;
  max-width: 70%;
  font-style: italic;
  padding-left: 7vh;
  font-family: Montserrat;
}

.content ul {
  display: flex;
  flex-direction: column;
}

.content a {
  width: max-content;
  font-size: 3vh;
  text-decoration: none;
  padding-left: 7vh;
  opacity: 0.4;
  color: black;
  margin-top: 2vh;
  padding-bottom: 5vh;
}

#footer {
  margin-top: 20vh;
  height: 20vh;
  width: 100vw;
}

.backText {
  background-color: grey;
  position: absolute;
  height: 40%;
  width: 100%;
  overflow-y: hidden;
  z-index: 2;
}

.backText h1 {
  font-family: Whisper;
  opacity: 0.1;
  cursor: default;
  font-size: 50vh;
}

.foreText {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
  max-height: 20vh;
  width: 100%;
  margin: 15vh 5vh;
  z-index: 3;
}

.foreText a {
  margin-right: 5vw;
  text-decoration: none;
  color: black;
}

.left {
  font-size: 5vh;
  display: flex;
  flex-direction: column;
}

.left a{
  font-family: Nova Square;
}

.mid {
  font-size: 5vh;
  margin-right: 8vw;
  font-family: Nova Square;
}

.right{
  font-size: 4rem;
}